@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "tailwindcss-motion";
@plugin "flyonui"{
    themes: black --default;
}
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";


@font-face{
    font-family: 'DejaVuSansMono';
    src: url('./assets/fonts/DejaVuSansMono.woff2') format('woff2');
         font-weight: 400;
         font-style: normal;
}

@font-face{
    font-family: 'DejaVuSansMono';
    src: url('./assets/fonts/DejaVuSansMono-Bold.woff2') format('woff2');
         font-weight: 700;
         font-style: normal;
}

@layer base {
    html {
        font-family: 'DejaVuSansMono';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}